.statusbar {
  background-color: @surface;
}

.statusbar .start {
  margin-left: 32px;
}

.statusbar .end {
  margin-right: 32px;
}

.statusbar .end button {
  margin: 6px;
  padding: 0 16px;
}

.workspace {
  margin: 5px 0;
  padding: 5px 16px;
  border-radius: 9999px;
  background-color: @surface-container;
}

.workspace button {
  padding: 2px;
  min-width: 25px;
  min-height: 25px;
  border-radius: 9999px;
}

.workspace .focused {
  background-color: @primary;
}

.workspace .focused label {
  color: @on-primary;
}

.workspace .unfocused {
  background-color: @surface-container-highest;
}

.workspace .unfocused label {
  color: @on-surface;
}

.statusbar .dates label {
  font-size: 11.75px;
  letter-spacing: -1px;
}

.statusbar .layout {
  font-size: 14px;
}